body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #333;
  line-height: 1.6;
  /* Set background image */
  background: url("https://png.pngtree.com/background/20210710/original/pngtree-creative-flat-travel-tour-world-banner-picture-image_1039722.jpg")
    no-repeat center center fixed;
  background-size: cover;
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
  pointer-events: none;
}

/* NavbarEMT.css */
.emt-navbar {
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
}
.nav-NavLink {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 0;
  text-decoration: none;
}
.active-item {
  color: #ffcc00 !important;
}

.bottom-menu {
  font-size: 0.9rem;
  font-weight: 500;
}

.card h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container_loader2 {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding: 30px;
  text-align: center;
}

.date-card {
  min-width: 120px;
  text-align: center;
  border-right: 1px solid #eee;
  flex-shrink: 0;
  padding: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
}

.date-card:hover {
  background-color: #f5f5f5;
}

.date-slider-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 0.3rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  max-width: 100%;
  overflow: hidden;
}

.date-scroll-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  flex-grow: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.date-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.fade-slide {
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 1;
  transform: translateY(0);
}

.fade-slide.hidden {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

.form-control {
  font-size: 0.9rem !important;
  line-height: 1.5rem !important;
}

.form-control::placeholder {
  margin: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.9rem !important;
  line-height: 1.5rem !important;
  color: #cacaca !important;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 0 0 transparent !important;
  border-color: #005457 !important;
}

.form-select:focus {
  outline: none;
  box-shadow: 0 0 0 0 transparent !important;
  border-color: #005457 !important;
}

.hasError {
  border-color: red !important;
}

.hasError:focus {
  border-color: red !important;
}

.input-group .form-control-sm {
  font-size: 0.85rem;
}

.is-valid-date {
  background-position: right 2.4rem center !important;
}

.li.nav-item:hover a.nav-link {
  color: #ffcc00 !important;
  cursor: pointer;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  /* z-index: 9998; */
}

.loadtxtfl {
  margin-top: 20px;
  font-size: 16px;
  color: #131111;
  max-width: 300px;
}

.loaderpp {
  width: 250px;
  height: 50px;
  position: relative;
}

.loaderpp span {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #0088cc;
  border-radius: 50%;
  animation: dotsAnim 4.5s linear infinite;
  animation-delay: calc(var(--i) * 0.05s);
  transform: rotate(calc(var(--i) * 18deg)) translateY(-50px);
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  cursor: pointer;
  padding: 0.7rem 0.95rem;
  text-decoration: none;
  gap: 0.25rem;
  transition: color 0.3s ease;
  margin-right: 0.3rem;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item.active {
  color: #007bff;
  font-weight: bold;
}

.menu-item:hover,
.menu-item.active {
  color: #007bff;
}

.nav-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  cursor: pointer;
  color: #888;
  transition: color 0.2s;
  z-index: 1;
}

.nav-btn:hover {
  color: #333;
}

.nav-link:hover {
  color: #ffcc00 !important;
}

.nav-link.small-text {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 0.95rem !important;
}

.offcanvas {
  z-index: 99999 !important;
}

.offcanvas-backdrop {
  z-index: 1040 !important;
}

.option {
  font-size: 0.9rem !important;
}

.promo-card {
  flex: 0 0 auto;
  min-width: 280px;
  max-width: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
  background: #f5f5f5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.promo-card:hover {
  transform: translateY(-2px);
}

.promo-cards-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: auto;
  display: flex;
  gap: 1rem;
}

.promo-cards-container::-webkit-scrollbar {
  display: none;
}

.promo-icon {
  font-size: 2rem;
  margin-left: 1rem;
}

.required-label::after {
  content: "*";
  color: red;
  margin-left: 0.09rem;
}

.react-datepicker {
  border: none;
}

.react-datepicker-popper {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  border-radius: 0.3rem;
  z-index: 99 !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  fill: #0dcaf0;
  color: #0dcaf0;
}

.react-datepicker-popper .react-datepicker__triangle {
  stroke: #0dcaf0;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white !important;
}

.react-datepicker__day--selected {
  border-radius: 0.3rem;
  background-color: #0dcaf0;
  color: #fff;
}

.react-datepicker__day--today {
  color: #0dcaf0 !important;
  font-weight: 700;
}

.react-datepicker__day--today.react-datepicker__day--selected {
  color: white !important;
}

.react-datepicker__header {
  background-color: #0dcaf0;
  border-bottom: none !important;
}

.react-datepicker__header__dropdown {
  margin: 1rem 0;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  box-sizing: content-box;
  pointer-events: none;
}

.react-datepicker__navigation-icon::before,
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  border-color: white !important;
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  background-color: white !important;
  color: #0dcaf0 !important;
  border: 1px white;
  border-radius: 0.3rem;
  padding: 2.5px !important;
  font-weight: bold;
}

.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 10px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.seat-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.seat-slot {
  width: 40px;
  height: 40px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 4px;
  line-height: normal;
}

.seat-slot:hover {
  background-color: #ffe082;
}

.seat-slot.selected {
  background-color: #ffc107;
  font-weight: bold;
  border: 2px solid #ffc107;
  color: #000;
}

.berth-title {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #007bff;
}

.selected-card {
  color: rgb(12, 184, 182) !important;
  border-color: rgb(12, 184, 182) !important;
  background-color: #0dcaf02b !important;
}

.top-bar {
  font-size: 0.9rem;
  border-bottom: 1px solid #eee;
}

.top-links span {
  cursor: pointer;
  color: #333;
  font-weight: 500;
}

.z-lower {
  z-index: 0 !important;
}

/* Hide the default datepicker icon in different browsers */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

/* Utility classes */
.left {
  margin-right: 5px;
}

.right {
  margin-left: 5px;
}

/* Keyframes */
@keyframes dotsAnim {
  0% {
    opacity: 0.2;
    transform: scale(0.5) rotate(calc(var(--i) * 18deg)) translateY(-60px);
  }
  50% {
    opacity: 1;
    transform: scale(1) rotate(calc(var(--i) * 18deg)) translateY(-60px);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.5) rotate(calc(var(--i) * 18deg)) translateY(-60px);
  }
}

/* Focus for label and button */
label:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

/* FAQ */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq-answer.show {
  max-height: 500px;
}

/* Custom container */
.custom-container {
  max-width: 1315px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(8deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(6deg);
  }
  60% {
    transform: rotate(-6deg);
  }
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  90% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0);
  }
}

.ring-animate {
  animation: ring 3s ease-in-out infinite;
  animation-delay: 2s;
}

card-title {
  font-weight: 600;
}

@media (max-width: 768px) {
  .card-body {
    flex-direction: column;
    align-items: flex-start;
  }
}
.custom-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "›";
  padding: 0 0.5rem;
  color: #6c757d;
  font-weight: bold !important;
}

.custom-breadcrumb a {
  text-decoration: none;
  color: #0d6efd;
  transition: 0.2s;
}

.custom-breadcrumb a:hover {
  color: #0a58ca;
}

/* GstFormCard.css */
/* Collapse animation */
.collapse-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
  padding-top: 0;
  padding-bottom: 0;
}

.collapse-container.expanded {
  max-height: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.modal-body {
  overflow-x: auto;
}
